.uploadContainer{
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width:60%;
    height: 60vh;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    
    /* background-color: black; */
}
.buttonArea{
    display: flex;
    width: 60%;
    margin-top: 25px;
    /* background-color: red; */
    justify-content:space-around;
}
